<div class="footer">

    <div class="container-fluid d-flex justify-content-around">

        {# Logos réseaux sociaux #}
        <div class="d-flex justify-content-between align-items-center">

            <div class="img-footer">

                <a class="siteWeb-footer" href="https://www.wf3.fr/" target="_blank"><img src="{{asset('/images/Logo_wf3.png')}}" alt="Logo de Webforce 3"></a>
            
            </div>

            <div>
            
                <a class="text-white" href="https://twitter.com/WebForce3?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"> <i class="fab fa-twitter-square"></i> </a>
            
            </div>
            
            <div>
            
                <a class="text-white" href="https://www.linkedin.com/school/webforce3/" target="_blank"><i class="fab fa-linkedin"></i></a>
            
            </div>
        
        </div>
            
        {# Copyright #}
        <div class="copyright text-white d-flex flex-column justify-content-center align-items-center">

            <p>Copyright © <span id="date"></span></p>  
        
            <p>Extranet wf3 Lille - Tous droits réservés.</p>
        
        </div>
        
        {# Image carte Webforce 3#}
        <div class="map-footer">
        
            <img src="{{asset('/images/Map-footer.png')}}" alt="map centrer sur WebForce3">
        
        </div>
    
    </div>    

</div>