<p>Bonjour {{user.firstname}},</p>

<p>
Nous avons bien reçu ta demande d'inscription.
</p>

<p>
Ton adhésion, entièrement gratuite, nécessite au préalable une validation par le centre de formation
Webforce 3 de Lille, qui est en charge de l'accepter ou non.
</p>

<p>
Il te faudra attendre quelques jours, pour recevoir un mail d'acceptation ou de refus de ton adhésion.
</p>

<p>
En cas de réponse positive, tu pourras alors te connecter à cet Extranet par l'intermédiaire de ton 
adresse mail et du mot de passe que tu as saisi dans le formulaire.
</p>

<p>
En cas de réponse négative, le centre de formation Webforce 3 de Lille se réserve le droit de ne pas communiquer les raisons du refus.
</p>

<p>
Que La Force du Web soit avec toi !
</p>

<p>
Signé,
</p>

<p>
Les membres de l'Extranet de Webforce 3 Lille
</p>
